.header{
    min-height: 100vh;
    position: relative;
    background-image: url(../img/leaf.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12.5%;
}
.header__image{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 43.5%;
}
.header__top{
    padding-top: 2rem;
    display: flex;
    align-items: baseline;
}
.header__logo{
    max-width: 10rem;
}

/* Menu */

.menu{  
    margin-left: 14%;
    position: relative;
    z-index: 2;
}
.menu__list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.menu__item{
    margin: 0 2.5rem;
}
.menu__link{
    color: var(--gray-dark);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 1.2s linear;
}.menu__link:hover{
    color: var(--primary-color);
}

/* Content */
.header__content {
    padding-top: 19rem;
    position: relative;
    max-width: 55.5rem;
    z-index: 2;
}

.header__content-slogan{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin-bottom: 3rem;
    display: inline-block;
    font-size:1.6rem;
    font-weight: 400;
    text-transform:uppercase;
}

.header__content-decs{
    font-size:1.5rem;
    color: var(--gray-dark);
    margin-bottom: 5rem;
}

.header__content-cta{
    display: flex;
    align-items: center;
}
.header__content-cta > a:first-child{
    margin-right: 5rem;
}

.btn__play-video{
    display: flex;
    align-items: center;
}

.btn__play-video > i{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    background-color: var(--bg-block);
    color: var(--primary-color);
    margin-right: 10px;
}

.btn__play-video > span {
    color: var(--gray-dark);
    font-size: 1.4rem;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    border: 0;
    outline: none;
    padding: 1.5rem 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: var(--primary-color);
    font-size:1.4rem;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary-color)
}

.btn--rounded{
    border-radius: 5rem;
}

.btn--icon i{
    margin-left: 1rem;
    color: inherit;
}
/* hide mobile */
@media screen and (max-width: 767px) {
    .header__image,
    .menu {
      
    }
    .header{
        min-height: 50rem;
    }
  }

/* show mobile */
.menu__collapse {
    display: none;
    position: relative;
    top: -5px;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
.wrapper{overflow-x: hidden;}
.menu__close{display:none;}
@media screen and (max-width: 767px) {
    .menu__collapse {
        display: block;
        z-index: 50;
    }   
    .header .menu {
        margin-left: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: white;
        border-left: 1px solid #f2f2f2;
        min-width: 20rem;
        transition: transform 0.25s linear;
        will-change: transform;
        transform: translateX(100%);
      }
      .header .menu.is-open {
        transform: translateX(0);
      }
      .header .menu__list {
        flex-direction: column;
      }
      .header .menu__item {
        margin: 0;
        width: 100%;
      }
      .header .menu__link {
        display: block;
        padding: 1.5rem;
        border-bottom: 1px solid #f2f2f2;
      }
      .header .menu__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 10;
        cursor: pointer;
        font-size: 1.4rem;
        display: block;
      }
}

@media screen and (max-width: 1439px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header__content {
    padding-top: 12rem;
  }
}

@media screen and (max-width: 767px) {
    .header__top{
        justify-content: space-between;
    }

    .header__content {
        padding-top: 7rem;
    }
    .header__content-title {
        font-size: 4rem;
    }
    .header__content-cta {
        align-items: flex-start;
        flex-direction: column;
    }
    .header__content-cta > a:first-child {
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}

