.btn--secondary {
    background-color: var(--gray-dark);
  }
  .popular {
    background-color: #fff;
    padding-top: 14rem;
    padding-bottom: 14rem;
  }

.heading__title{
    
  font-weight: bold;
  font-size:3rem ;
  margin-bottom: 4rem;
}

.heading__desc{
  text-align: justify;
  font-size:1.5rem;
  color: var(--gray-dark);
  margin-bottom: 4rem;
}

.popular__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 7rem;
}
.popular__item {
    width: calc(33.33% - 13.33px);
    border: 1px solid #eee;
}
.popular__link {
    height: 100%;
    display: block;
    padding: 2rem 2rem 4.5rem;
    text-align: center;
    transition: box-shadow 0.2s linear;
}
.popular__link .btn--secondary {
    transition: background-color 0.2s linear; 
}
.popular__link img {
    width: 100%;
    height: 26.5rem;
    object-fit: cover;
}
.popular__link .title {
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: var(--gray-dark);
}
.popular__link .desc {
    font-size: 1.4rem;
    line-height: 2;
    color: var(--gray-light);
    margin-bottom: 4rem;
}
.popular__link:hover {
    box-shadow: 0 0 14px 14px rgba(0, 0, 0, 0.025); 
}
.popular__link:hover .btn--secondary {
    background-color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .popular__item {
      width: 100%;
      margin-bottom: 2.5rem;
  }
}

